---
import { CloudinaryImage } from "@content/utils/get-images";

export interface Props {
  images: CloudinaryImage[];
}

const { images } = Astro.props;
---

<div class="grid grid-cols-4 gap-4" data-clearyst-images>
  {
    images.map((image) => {
      return <img src={image.thumbUrl} class="hover:cursor-pointer" />;
    })
  }
</div>

<script>
  const images = document.querySelectorAll("[data-clearyst-images] img");

  // Listen for clicks on images and send `postMessage`
  images.forEach((image) => {
    image.addEventListener("click", function () {
      console.log("Clicked image", this.src);
      if (window.parent) {
        window.parent.postMessage(
          {
            type: "clearyst-cloudinary-assets",
            imageUrl: this.src,
          },
          "*"
        );
      }
    });
  });
</script>
